@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
	margin: 0%;
	padding: 0px;
	box-sizing: border-box;
}

.cabecera {
    background-image: linear-gradient(to right, rgb(126, 230, 85), #393 66%, #393 100%);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: rgb(26, 165, 19);  /* fallback for old browsers */
	
	height: 100px;
	display: flex;
	justify-content: flex-start;
    align-items: center;
    height: 110px;
    width: 100%;
    padding: 10px;
}

.logo {
    width: 24%;
    height: auto;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
}

.subtitulo {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    font-weight: 800;
    font-size: 12px;
    padding-left: 3px;
}

.logo-img {
    width: 100%;
    height: 80px;
}

.navegacion-principal {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opciones-header a,
.iconos-header a{
    text-decoration: none;
    color: white;
    padding: 0px 5px 0px 5px;
}



.iconos-header {
    padding: 0px 60px 0px 100px;
}

.opciones-header {
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.opciones-header-btn a {
    padding: 0px 12px 0px 12px;
}


.opciones-header-text {
   font-weight: 800;
   font-size: 9px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.opciones-header i {
    padding-right: 3px;
}

.banner {
    width: 100%;
    height: 7vh;    
    background: rgba(12, 12, 1, 0.933);
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    display: flex;
}

.banner-opciones {
    display: flex;
    width: 58%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
}





.banner-p1,
.banner-p2,
.banner-selec,
.banner-inicio {
    padding: 0px 40px 0px 40px;
    display: flex;
    align-items: center;
}

.text-b-inicio,
.text-b-p1,
.text-b-p2 {
    text-decoration: none;
    color: white;
}

.text-b-inicio i,
.text-b-p1 i,
.text-b-p2 i {
    padding-right: 4px;
}

.banner-selec {
    border: 3px solid white;

}

.banner-info {
    width: 30%;
    display: flex;
    height: 100%;
    background-color: azure;
}

.banner-text {
    width: 100%;
    height: 100%;
}

.banner-marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12%;
    font-family: "Poppins", sans-serif;
    color: white;
}

.text-principal {
    font-size: 12px;
    font-weight: 800;
}

.text-secundario {
    font-size: 8px;
}

.marque-prueba {
    background-color: rgb(26, 165, 19);
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #FFFFCC;
    font-size: 31px;
}

/* CONTENEDOR - 2 */

.contenedor-2 {
    width: 100%;
    height: auto;
    background-color: #DDDDDD;
    padding: 10px 20px 15px 20px;
    border-bottom: 30px solid #dcebdd;
}

.inicio-pagina {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid rgba(12, 12, 1, 0.933);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDDDDD;
}

.seccion-seleccionada {
    width: 30%;
    font-weight: 600;
    font-size: 15px;
}

.seccion-seleccionada-iconos {
    display: flex;
    font-weight: 400;
    font-size: 12px;
}

.seccion-seleccionada-iconos div {
    padding-right: 20px;
}

.iconos i {
    padding-right: 3px;
}

/* Banner contenedor-2 */

.banner-contenedor-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seccion-inicial {
    width: 50%;
    height: 100%;
}

.seccion-titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.seccion-descripcion {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.seccion-marcas {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.marca img {
    width: 110px;
    border-radius: 55px;
}



/* CONTENEDOR - 3 */

.contenedor-3 {
    width: 100%;
    background-color: #dcebdd;
    
}


.contenedor-producto{
   /* background-color: rgba(12, 12, 1, 0.933); */
    background-color: white;
    margin: 0 20px 0px 80px; 
    height: 210px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.imagen-producto{
    margin: 20px 20px 20px 20px;
    width: 190px;
    height: 190px;
}

.img{
    width: 100%;
    height: 100%;
}

.info-producto{
    margin: 20px 20px 20px 20px;
    font-family: "Poppins", sans-serif;
}

.info-producto p {
    color: black;
    font-size: 30px;
}


/* FOOTER DE PAGINA */
.footer {
    width: 100%;
    height: 50vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}

/* Utilidades */

.text-center {
	text-align: center;
}

@media (min-width: 768px) {
	.max-width-30 {
		max-width: 30rem;
	}
}

.boton {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #e1e1e1;
}

/* Header y Navegacion */

.contenedor {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 50px 50px 50px 50px;
	border-top: 2px solid #e1e1e1;
}

.nombre-sitio span {
	color: #037bc0;
}

.submenu {
	position: relative;
}

.submenu #carrito {
	display: none;
}

.submenu:hover #carrito {
	display: block;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 1;
	background-color: white;
	padding: 20px;
	min-height: 500px;
	min-width: 300px;
}

.vacio {
	padding: 10px;
	background-color: crimson;
	text-align: center;
	border-radius: 10px;
	color: white;
}

.columns,
.column {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: #e1e1e1;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}


.contenedor-navegacion {
	border-top: .1rem solid #e1e1e1;
}

.nav-principal {
	padding: 2rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media (min-width: 768px) {
	.nav-principal {
		justify-content: space-between;
		flex-direction: row;
	}
}

.link {
	color: #000;
	padding: 20px 30px;
	font-size: 20px;
	text-decoration: none;
}



/* Sobre Nosotros */
.sobre-nosotros {
	background-image: linear-gradient( to bottom, transparent 50%, #037bc0 50%, #037bc0 100%), url("../img/nosotros.jpg");
	background-position: center top left;
	background-repeat: no-repeat;
	background-size: 100%, 70rem;
}

@media (min-width: 768px) {
	.sobre-nosotros {
		background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100%), url("../img/nosotros.jpg");
	    background-position: left center;
	    padding: 10rem 0;
	    background-size: 100%, 160rem;
	}
}

.sobre-nosotros-grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 768px) {
	.sobre-nosotros-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: unset;
		column-gap: 10rem;
	}
}

.texto-nosotros {
	grid-row: 2 / 3;
	color: #FFF;
	padding: 5rem;
}

@media (min-width: 768px){
	.texto-nosotros {
		grid-column: 2 / 3;
	}
}

/** Listado de productos **/

.contenido-principal {
	width: 100%;
	padding-top: 50px;
	height: auto;
	display: block;
}

.venta {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}

@media (min-width: 768px) {
	.lista-muebles {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 2rem;
	}

	.card :nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 7;
		display: grid;
		grid-template-columns: 3fr 1fr;
	}

	.card :nth-child(1) img {
		height: 43rem;
		width: 100%;
		object-fit: cover;
	}

	.card :nth-child(2) img,
	.card :nth-child(3) img {
		height: 30rem;
		width: 100%;
		object-fit: cover;
	}

	.card :nth-child(3) {
		grid-column-start: 4;
		grid-column-end: 7;
	}

	.card :nth-child(4) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.card :nth-child(5) {
		grid-column-start: 3;
		grid-column-end: 5;
	}

	.card :nth-child(6) {
		grid-column-start: 5;
		grid-column-end: 7;
	}
} 

.card {
	display: block;
	flex-wrap: wrap;
	justify-content: center;
	width: 300px;
	background-color: #037bc0;
	margin: 20px;
	font-size: 18px;
	text-align: center;
	color: #e1e1e1;
}

@media (min-width: 768px) {
	.card {
		margin-bottom: 0;
	}
}

